.sidebar{
    width: 250px;
    background-color: #002239;
    padding: 20px;
    height: calc(100vh - 60px);
    color: white;
    border-radius: 10px;
}
.sidebarIcon{
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-weight: 700;
}
.sidebarElement {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.sidebarElement:hover{
    background-color: #00435C;
}
.active{
    background-color: #00445cad;

}